<div class="row">
  <div class="col-3 col-md-6">
    <p>Course Name: {{ coursename }}</p>
    <p>Uppercase: {{ coursename | uppercase }}</p>
    <p>Lowercase: {{ coursename | lowercase }}</p>
    <p>Titlecase: {{ coursename | titlecase }}</p>
    <p>Slice: {{ coursename | slice:2:5 }}</p>
    <p>Today's Date: {{ todaydate | date }}</p>
    <p>Today's Date : {{ todaydate | date:'dd-MMMM-yyyy' }}</p>
    <p> object: {{ studentObject }}</p>
    <p> json: {{ studentObject | json }}</p>
    <p> NA Pipe: {{ null | na }}</p>
    <p>Na pipe using object: {{ studentObject.firstName| na }}</p>
    <p>Na pipe using object : {{ studentObject.email| na }}</p>
  </div>
</div>  