<div class="row">
    <div class="col-4">
        <h3>Resource API Example</h3>
        
    </div>
    <div class="col-4">
        @if(userdata.hasValue()) {
           <!-- <pre>{{ userdata.value() | json }}</pre> -->

            @for(user of userdata.value() ; track $index) {
                <p>{{ user.name }} - {{ user.email }}</p>
            }
        }
    </div>
    <div class="col-4">
        @if(userList.hasValue()) {
           <!-- <pre>{{ userList.value() | json }}</pre> -->

            @for(user of userList.value() ; track $index) {
                <p>{{ user.name }} - {{ user.email }}</p>
            }
        }
    </div>
</div>
