<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2 class="text-center">Login</h2>
        <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" [(ngModel)]="loginObj.username" name="username" class="form-control" id="username" placeholder="Enter username">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" [(ngModel)]="loginObj.password" name="password" class="form-control" id="password" placeholder="Enter password">
        </div>
        <button type="submit" (click)="login()" class="btn btn-primary w-100">Login</button>
        </form>
    </div>
</div>